.toy-preview {
  text-align: center;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
}
.toy-preview h4 {
  text-transform: capitalize;
  color: black;
}

.toy-preview img {

  max-height: 200px;
}

.not-instock {
  color: red;
}
.in-stock {
  color: green;
}
.label-title {
  font-size: 0.8em;
}
pre {
  font-family: Roboto;
  font-size: 0.6em;
}