:root {
  --clr1: #4b7c7d;
  --clr2: #1c5c41;

  --clr1bg: #c3eddf;
  --clr1bg-light: #c1f1e1;
  --clr2bg: #0fbd3a;
  --clr2bg-light: #e9d8a6;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
  --user: rgb(158, 191, 158);
  --bot: rgb(240, 240, 240);

} 